.main-content {
    margin-right: auto;
    margin-left: auto;
    max-width: 1280px;
}


a:link {
    color: inherit;
    text-decoration: underline;
}

a:visited {
    color: inherit;
    text-decoration: underline;
}